.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font-size: 57px;
  color: #fff;
  background-color: #393939;
  flex-direction: column;
  gap: 25px;
}

.btn {
  font-size: 24px;
  color: #393939;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  animation: 1s 1 appear;
  transition: all .3s;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 0px 0px 15px white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 18px;

  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 18px;
  }
}